.main-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.employee-screen-container {
  width: 70%;
}

.search-bar-container {
  background-color: #dee2e6;
  padding: 1.5rem 0;
}

.search-form-content {
  display: flex;
  justify-content: space-around;
}

.search-form-content div {
  width: 35%;
}

.search-input-container label {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
}

.search-input-container input, select {
  border: 0;
  background-color: #f8f9fa;
  border-bottom: 2px solid #10002b;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 0.3rem;
  width: 100%;
}

.search-input-container input:focus-visible , select:focus-visible {
  outline: none;
  border-color: #212529;
}
